html,body{
	font-family: NotoSansCJKtc-Light,Microsoft JhengHei;
}
.room-bg{
	background-position: center;
	background-size: cover;
}
.linear-pos{
	position: relative;
	.white-space{
		border: 1px solid $white;
		background-color: #E1E1E1;
		height: 148px;
		width: 148px;
		color: $white;
		letter-spacing: 3.24px;
		line-height: 44px;
		font-size: 31px;
		z-index: 9999;
	}
}
.linear,.menu-linear,.number-linear{
	position: absolute;
	top: -20px;
	left: -20px;
	height: 138px;
	width: 138px;
	background: linear-gradient(45deg, rgba(255,255,255,0.28) 25%, $white 0, $white 50%, rgba(255,255,255,0.28) 0, rgba(255,255,255,0.28) 75%, $white 0); 
	background-size: 5px 5px;
}
.date{
	div{
		font-size: 14px;
		width: 40px;
		height: 30px;
		text-align: center;
	}
}
.out{
	background: linear-gradient(45deg, $allroom 25%, $white 0, $white 50%, $allroom 0, $allroom 75%, $white 0); 
	background-size: 5px 5px;
}

.week div{
	font-size: 14px;
	width: 40px;
	height: 30px;
	text-align: center;
}
.menu{
	width: 305px;
	margin-top: -20px;
	position: relative;
	.menu-linear{
		width: 281px;
		left: 24px;
    top: 284px;
	}
	ul>li{
		list-style: none;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0px;
		}
		a{
			font-size: $primary-font;
			text-decoration: none;
			color: $black;
			position: relative;
			&:hover{
				&::before{
					display: block;
				}
			}
			&::before{
				display: none;
				position: absolute;
				content: '';
				width: 8px;
				height: 1px;
				background-color: $black;
				left: -20px;
				top: 10px;
			}
		}
	}
}
.room-number{
	color: $white;
	.number{
		font-size: 4rem;
	}
	.name{
		font-size: 1.5rem;
	}
	.number-linear{
		width: 86px;
		height: 19px;
		top: 68px;
    left: -5px;
	}
}
.msg{
	color: $white;
	.link{
		color: $white;
		text-decoration: none;
	}
}
